:root {
    --rowNum: 8;
}

.sketchGrid {
    border-style: solid;
    margin: auto;
    display: grid;
    grid-gap: 1px 1px;
    background-color: black;
    height: 60vmin;
    width: 60vmin;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(var(--rowNum), 1fr);
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-auto-flow: row;
}

.gridSquare {
    width: auto;
    height: auto;
    background-color: white;
}

#clear {
    margin: auto;
    margin-top: 30px;
    width: 150px;
    display: flex;
    justify-content: center;
}